/* Navbar.css */
  .navbar {
    background-color: #FFFFFF; /* Change the color of the top navigation bar */
    height: var(--nav-bar-height);
    padding: 10px 40px 10px 40px;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    width: 100%; /* Ensure it takes the full width */
    z-index: 1000; /* Keep it on top */
    display: flex;
    border-bottom: 1px solid #ccc; /* Optional: Border at the bottom */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow underneath */
  }

.navbar-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-icon {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-shrink: 0;
  align-items: center; /* This vertically aligns the icon and text */
  gap: 8px; /* Adjust space between the icon and the text */
}

.logo-name {
  background: linear-gradient(to right, #78B2A3, #118193);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.login-icon {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  font-size: 14px;

}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar {
  display: flex;
  justify-content:flex-start; /* Centers the item horizontally */
  align-items: center;
  border-radius: 25px;
  border: 1px solid #ccc;  
  outline: none;
  transition: border-color 0.3s;
  flex-basis: 500px; 
  min-width: 150px;
  height: 100%;
  gap:15px;
  padding-left: 15px;
  padding-right: 15px;
}

.search-bar input {
  font-size: 14px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  color: #ff69b4;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}